{% extends "base.html" %}
{% block 'body' %}
    <form action="{{request.get_full_path}}" method="post" class="form_user_edit">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <input type="hidden" name="email" value="{{ email }}">
        </p>
        <button type="submit">Ustaw nowe hasło</button>

        {% if form.password.errors %}
          <ol>
          {% for err in form.password.errors %}
            <li>
              <strong>
                {{ err|escape }}
              </strong>
            </li>
          {% endfor %}
          </ol>
        {% endif %}

        {% if err %}
        <p style="color: red">{{ err }}</p>
        {% endif %}

    </form>


{% endblock %}
